WSDL/UpLizhiFromOA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UpLizhiFromOa" targetNamespace="http://10.90.18.23" xmlns:p1="http://10.90.18.23" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:p="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
       
        <xsd:schema targetNamespace="http://10.90.18.23" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        	<xsd:element name="UpLizhiDo" type="p1:UpLizhiDoRequest">
        	</xsd:element>
        	<xsd:element name="UpLizhiDoResponse" type="p1:UpLizhiDoReturn"></xsd:element>
        
        
        
        	<xsd:complexType name="UpLizhiDoRequest">
        		<xsd:sequence>
        			<xsd:element name="oa_status" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
        			<xsd:element name="oa_number" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
        		</xsd:sequence>

        	</xsd:complexType>

        	<xsd:complexType name="UpLizhiDoReturn">
        		<xsd:sequence>
        			<xsd:element name="MESS_FLAG" type="xsd:string"></xsd:element>
        			<xsd:element name="MESSAGE" type="xsd:string"></xsd:element>
        		</xsd:sequence>
        	</xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="UpStatusFromPi">
    	<wsdl:part name="NewPart" type="p:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="UpStatusFromPiDoResponse">
    	<wsdl:part name="NewPart" type="p:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="UpStatusFromPiDo">
    	<wsdl:part name="NewPart" type="p:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="UpStatusDo">
    	<wsdl:part name="UpLizhiDo" element="p1:UpLizhiDo"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="UpLizhiDoResponse">
    	<wsdl:part name="UpLizhiDoResponse"
    		element="p1:UpLizhiDoResponse">
    	</wsdl:part>
    </wsdl:message>
    <wsdl:portType name="UpLizhiFromOA">
        <wsdl:operation name="UpLizhiDo">
            <wsdl:input message="p1:UpStatusDo" name="UpStatusDo"/>
            <wsdl:output message="p1:UpLizhiDoResponse" name="UpStatusDoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UpLizhiFromOaBinding" type="p1:UpLizhiFromOA" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
        <wsdl:operation name="UpLizhiDo">
            <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            <wsdl:input name="UpStatusDo">
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            </wsdl:input>
            <wsdl:output name="UpStatusDoResponse">
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UpLizhiFromOaService">
        <wsdl:port name="UpLizhiFromOaPort" binding="p1:UpLizhiFromOaBinding" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <soap:address location="http://10.90.18.23/index.php/public/apioa/up_sms_lizhi" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>